# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df=df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [5]:
# Drop the date column
# no need to drop

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# check index data type
df.index.inferred_type == "datetime64"

True

In [8]:
# Filter data for desired months
June_df = df[df.index.month.isin([6])]
Dec_df = df[df.index.month.isin([12])]
June_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [9]:
# Identify the average temperature for June
Jun_Avg_Temp= June_df["tobs"].mean()
Jun_Avg_Temp

74.94411764705882

In [10]:
# Identify the average temperature for December
Dec_Avg_Temp= Dec_df["tobs"].mean()
Dec_Avg_Temp

71.04152933421226

In [11]:
# Create collections of temperature data

June_temp= June_df["tobs"]
June_temp.reset_index(drop=True, inplace=True)

Dec_temp= Dec_df["tobs"]
Dec_temp.reset_index(drop=True, inplace=True)

In [12]:
# clean lists and make both lists equal size
June_temp.dropna()
June_temp.drop(index=June_temp.index[-183:], 
        axis=0, 
        inplace=True)
len(June_temp)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

1517

In [13]:
# clean lists and make both lists equal size
Dec_temp.dropna()
len(Dec_temp)

1517

In [14]:
# Run paired t-test
stats.ttest_rel(June_temp, Dec_temp, axis=0, nan_policy='omit')

Ttest_relResult(statistic=34.804545051754815, pvalue=1.4623155269997529e-195)

### Analysis

Will use Paired T-test because paired tests are used for similar samples taken at different times, in this case, temperature is observed across different time periods

Null Hypothesis: There is no difference in temperatures in Dec and June

Alternative Hypothesis : There is a difference in the temperatures b/w June and Dec

Analysis: Since P-Value is less than 0.05, we can reject Null Hypothesis and say with confidence that the months have different average temperatures